.header {
    width: 100%vh;
    height: 100px;
    background-color: rgb(81, 133, 38);
    margin-bottom: 3em;
    display: flexbox;
}
.footer {
    width: 100%vh;
    height: 150px;
    background-color: rgb(12, 20, 6);
}

.header a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    align-items: flex-end;
}
.principal img {
    max-height: 300px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}